numpy>=1.26.4
pandas>=2.3.3
matplotlib>=3.11.2
seaborn>=0.13.2
pyyaml>=6.0.3
scikit-learn>=1.9.1
tqdm>=4.70.1
simpy>=4.1.2
torch>=2.14.0
lightgbm>=4.7.0
shap>=0.48.0
pytest>=7.4.4
pytest-cov>=4.1.0
jupyter>=1.1.1
ipykernel>=6.31.0
